.root {
  align-self: flex-end;
  justify-self: center;
}

li {
  display: inline-block;
  padding: 20px;
}

a {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.active {
  cursor: pointer;
  border-bottom: 3px solid #65b79a;
}
