.root {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  cursor: pointer;
  border-bottom: 3px solid #65b79a;
}
