* {
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
}

body {
  background-color: #f9f4f4;
}

.app {
  padding: 30px 60px 190px;
}

.wrapper {
  display: grid;
  flex-direction: column;
  height: 110vh;
}
