.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: 10px;
}

.textContainer {
  margin-bottom: 20px;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.imgContainer {
  margin-right: 40px;
}

.repoText {
  font-size: 22px;
  font-weight: "bold";
}

.secondaryText {
  font-size: 16px;
  color: #a5adbb;
}

.rightContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.starContainer {
  display: flex;
}

.iconContainer {
  display: flex;
}

.imgContainerStar {
  align-self: center;
}

.altText {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 5px;
}

.allTextContainer {
  display: flex;
  flex-direction: row;
}

.starText {
  color: #6e798c;
}
